/* src/assets/styles/fonts.css */
@font-face {
  font-family: 'MyCustomFont';
  src: url('@/assets/fonts/cute-font.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: monospace;
}
